@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
.navbar .container-fluid,
footer .container {
    margin-right: 0;
    margin-left: 0;
}

.logo_fomex {
    max-width: 300px;
    height: auto;
}
.product{
    background-image: url(../image/backgorund_home_top.png);
    background-size: 100%;
    background-repeat: no-repeat;

}
.card {
    width: calc(20% - 20px);
    margin: 10px;
}

@media screen and (max-width: 992px) {
    .card {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: calc(50% - 20px);
    }
}

.title {
    background-color: #999;
    width: 100%;
}

.title h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.process {
    background-color: #808080;
}
.process h2{
    color: #fff;
} 
.img-process{
    background-image: url(../image/backgorund_home_top.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}
.img-process img {
    padding: 5px;
    width: 70%;
    height: auto;
}
.card-img-container {
    position: relative;
    width: 100%;
  }
  
  .card-img-overlay {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Màu chữ */
  }
  .card-text {
    color: white; /* Màu chữ */
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000; /* Điều chỉnh viền */
    
  }
  footer a{
    color: #fff;
    text-decoration: none;
  }
  footer p {
    color: #fff;

  }
  footer li {
    color: #fff;
  }
  .title_footer {
    margin-top: 10px;
    color: #fff;
  }